<div class='banner'>
  <h1>Movie Lists</h1>
</div>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list.id) %>
      <%= button_to 'Remove a list', list_path(list.id), data: { turbo_method: 'delete' }, class: "small-btn" %>
    </li>
  <% end %>
</ul>


<%= button_to "New list", new_list_path, class: "large-btn" %>
