.banner {
  width: 100%;
  background-image: url('https://img.freepik.com/free-photo/assortment-cinema-elements-red-background-with-copy-space_23-2148457848.jpg?w=2000&t=st=1700230715~exp=1700231315~hmac=f3b5382cdd388630efd55aca9ef4c6d78fd056fe2b27432a79b0e1a169706d93');
  height: 405px;
  background-color: rgba(75, 1, 15, 0.443);
  background-position: center;
}
