.banner {
  width: 100%;
  background-image: url('movie1.2.jpeg');
  
  opacity: 0.9;
  height: 405px;
  background-color: rgba(75, 1, 15, 0.443);
  background-position: center;

  h1 {
    font: $headers-font;
    color: azure;
    font-size: 80px;
    text-align: center;
    width: 100%;
    padding:150px 0;
    text-align: center;
  }
}
